[mysqld]

# defined the MariaDB server parameters

# Basic Settings
user                    = mysql
pid-file                = /run/mysqld/mysqld.pid
basedir                 = /usr
datadir                 = /var/lib/mysql
tmpdir                  = /tmp
lc-messages-dir         = /usr/share/mysql

# listening on all network interfaces
# Network Settings
bind-address            = 0.0.0.0
port                    = 3306

# Character Set
character-set-server    = utf8mb4
collation-server        = utf8mb4_unicode_ci

# configures the storage engine
# InnoDB Settings
default-storage-engine  = InnoDB
innodb_buffer_pool_size = 256M
innodb_log_file_size    = 64M
innodb_flush_method     = O_DIRECT

# désactive les logs sql
# Logging
general_log             = 0
slow_query_log          = 0

# We allow access for other storage engine containers
# Skip Networking (disabled for remote access)
# skip-networking

# disable DNS resolution
# Enable external connections
skip-name-resolve
